.container{
    text-align: center;
    margin-top: 34px;    
}

table{
    margin:auto;    
}

button{
    height: 45px;
    width: 68px;
    color: crimson;
    background-color:burlywood;
    border-radius: 10%;
    font-size: 23px;
}

.calculator{
    display: inline-block;
    border: chartreuse;
    padding: 30px;
    background-color: chocolate;
}

input{
    height: 35px;
    width: 100%;
    border-radius: 5%;
    font-size: 23px;
}

h1{
    font-size: 50px;
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: darkgreen;
}